<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.annotation.dao.TaskMapper">

    <insert id="insertTask" useGeneratedKeys="true" keyProperty="tid" parameterType="com.annotation.model.Task">
        insert into task
          (title, `description`, `createtime`, deadline,taskcomptime,taskcompstatus, otherinfo,userid,`type`)
        values
          (#{title}, #{description},  #{createtime}, #{deadline}, #{taskcomptime},#{taskcompstatus},#{otherinfo},#{userid},#{type})
    </insert>
   <!-- <select id="selectTask" resultType="Task">
    SELECT * FROM task
  </select>-->
    <resultMap id="BaseResultMap" type="com.annotation.model.Task" >
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="taskcompstatus" property="taskcompstatus" jdbcType="VARCHAR" />
        <result column="createtime" property="createtime" jdbcType="VARCHAR"/>
    </resultMap>

   <!-- <sql id="Base_Column_List" >
        title, taskcompstatus, createtime
    </sql>-->

    <select id="getAll" resultMap="BaseResultMap"  >
        SELECT tid,title,taskcompstatus,createtime FROM task
    </select>


    <select id="selectTaskById" parameterType="Integer" resultType="com.annotation.model.Task" >
    select * from task where tid = #{tid}
    </select>


    <select id="selectTaskByRelatedInfo" parameterType="map" resultType="com.annotation.model.Task">
        select * from task where userid = #{userid} limit #{currIndex},#{pageSize}
    </select>

    <select id="countTaskNumByUserid" parameterType="Integer" resultType="Integer">
        select count(*) from task where userid = #{userid}
    </select>


    <select id="selectAllTask" parameterType="map" resultType="com.annotation.model.Task">
        select * from task limit #{currIndex},#{pageSize}
    </select>

    <select id="countAllTaskNum"  resultType="Integer">
        select count(*) from task
    </select>


    <update id="updateById" parameterType="com.annotation.model.Task">
        UPDATE task
        <trim prefix="set" suffixOverrides=",">
            <if test="title!=null">title=#{title},</if>
            <if test="description!=null">description=#{description},</if>
            <if test="createtime!=null">createtime=#{createtime},</if>
            <if test="deadline!=null">deadline=#{deadline},</if>
            <if test="taskcomptime!=null">taskcomptime=#{taskcomptime},</if>
            <if test="taskcompstatus!=null">taskcompstatus=#{taskcompstatus},</if>
            <if test="otherinfo!=null">otherinfo=#{otherinfo},</if>
            <if test="userid!=null">userid=#{userid},</if>
            <if test="type!=null">type=#{type},</if>
        </trim>
        WHERE tid = #{tid}
    </update>

    <resultMap id="selectTaskWholeInfo" type="com.annotation.model.TaskInfoEntity">
        <id column="tid" property="tid"></id>
        <result column="title" property="title"></result>
        <result column="description" property="description"></result>
        <result column="type" property="type"></result>
        <result column="createtime" property="createtime"></result>
        <result column="deadline" property="deadline"></result>
        <result column="taskcomptime" property="taskcomptime"></result>
        <result column="taskcompstatus" property="taskcompstatus"></result>
        <result column="otherinfo" property="otherinfo"></result>
        <result column="userid" property="userid"></result>
        <collection property="documentList" ofType="com.annotation.model.Document">
            <id column="did" property="did"></id>
            <result column="filename" property="filename"></result>
            <result column="filetype" property="filetype"></result>
            <result column="filesize" property="filesize"></result>
            <result column="docuploadtime" property="docuploadtime"></result>
            <result column="doccomptime" property="doccomptime"></result>
            <result column="docstatus" property="docstatus"></result>
        </collection>
        <collection property="labelList" ofType="com.annotation.model.Label">
            <id column="lid" property="lid"></id>
            <result column="labelname" property="labelname"></result>
        </collection>

    </resultMap>


    <select id="selectTaskInfo" parameterType="Integer" resultMap="selectTaskWholeInfo">
        select t.tid,t.title,t.description,t.type,t.createtime,t.deadline,
                t.taskcomptime,t.taskcompstatus,t.otherinfo,t.userid,
                d.did,d.filename,d.filetype,d.filesize,d.docuploadtime,d.doccomptime,d.docstatus,
                l.lid,l.labelname from task t,label l,document d,task_label tl,task_document td
                where t.tid=#{tid} AND t.tid=tl.taskid AND tl.labelid=l.lid AND t.tid=td.taskid AND td.documentid= d.did

    </select>


    <select id="selectUserName" parameterType="Integer" resultType="String">
        select username from `user` u,task t WHERE t.tid=#{tid} AND t.userid=u.id
    </select>

</mapper>